body, html {
  background-image: url('https://s3.amazonaws.com/benjamski/Temp/header-vid-calm.mp4');
}

/*Main Page*/
.main-page {
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

/*LANDING PAGE STYLES*/
.landing-header {
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}


.landing-header a {
  color: #49B388;
  font-size: 34px;
  font-family: 'Quattrocento', serif;
}

.intro-message h1 {
  font-size: 60px;
  margin-top: 40px;
  font-family: 'Quattrocento', serif;
}

.intro-message h3 {
  font-size: 34px;
  font-family: 'Quattrocento', serif;
}

.list-inline {
  padding-top: 40px;
}


/*BUTTONS*/

.btn.btn-success {
    color: #ffffff;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #325A46, #243C41);
    border-color: transparent;
}
.btn.btn-success:hover {
    color: #ffffff;
    background-color: #00eeff;
    background-image: linear-gradient(to bottom, #325A46, #243C41);
    border-color: transparent;
}

/* NavBar
======================================*/

.navbar {
  background-color: transparent;
}

.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  color: #A5AEB1;
}

/* Select menu Styling
======================================*/

select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#3498DB;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:12px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}

.symptom-select {
  background-color:#3498DB;
}

.symptom-select:hover {
  background-color:#2980B9;
}

/*select:focus or not? strange behavior TODO */
select, select:active {
  border:0;
  outline:0;
}

/* Nifty video background experiment
======================================*/

/*video {
	width: 100%;
  height:100%;
	position: absolute;
}*/

/* MEDIA QUERIES FOR MOBILE
======================================*/

/*media query for still image on mobile instead of video*/
/*@media screen and (max-device-width: 800px) {
	body, html {
		background-image: url(http://i.imgur.com/tKSMTVY.png);
	}
  .header-vid {
       background: url(http://i.imgur.com/tKSMTVY.png) #000 no-repeat center center fixed;
  }


  video {
      display: none;
  }
}*/
